.shopping-list li:nth-child(even) {
  background-color: blueviolet;
  list-style: none;
}

.shopping-list li:nth-child(odd) {
  background-color: gray;
  list-style: none;
}

.grocery-list li:nth-child(even) {
  background-color: cadetblue;
  list-style: none;
}

.grocery-list li:nth-child(odd) {
  background-color: darkblue;
  list-style: none;
}

.div-container {
  display: flex;
}
